.card-horizontal {
  margin: 1rem;
  position: relative;
  box-shadow: 2px 4px 20px -1px #00000014, -1px -2px 20px -1px #00000008;
}

.products-cart {
  align-items: flex-start;

  justify-content: center;
  gap: 13rem;
}

.card-checkout {
  min-width: 450px;
}

.item-price-details {
  display: flex;
  margin: 0.5rem 0;
  justify-content: space-between;
}

.hr {
  height: 2px;
  background-color: var(--primary-color);
  border: none;
}

.checkout {
  display: flex;
  flex-direction: column;
}

.btn-checkout {
  padding: 0.5rem 10rem;
}

.cart-empty-card {
  min-width: 371px;
  text-align: center;
}

.btn-shop {
  padding: 0.7rem;
}

.mg-1 {
  margin: 1rem 0;
}

bold {
  font-weight: 600;
}
