.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.logo img {
  width: 50px;
  border-radius: 50%;
}

.nav {
  flex: 1 1;
  display: flex;
  gap: 1rem;
  padding: 1rem 1rem 1rem 7rem;
}

.btn-nav {
  background: none;
  outline: var(--white-color);
  border: none;
  font-size: x-large;
  color: var(--dk-pink);
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 1rem 2rem;
  gap: 1rem;
}
