.product-listing {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.badge-ratings {
  padding: 0.1rem 0.5rem;
}

.badge-ratings > p {
  padding: 0;
}

.card-info-details {
  display: flex;
  justify-content: space-between;
}

.ctn {
  margin: auto;
}

.bdge-sm {
  font-size: 1rem;
}

.btn-card {
  width: 100%;
  border-radius: 0.5rem;
}
